#duvidas {
  position: relative;

  .profissionais__bg-blob-1,
  .profissionais__bg-blob-2 {
    position: absolute;
    z-index: -1;

    img {
      width: 22rem;
    }
  }

  .profissionais__bg-blob-1 {
    top: -10rem;
    left: -10rem;

    @include mediaQuery(xm) {
      img {
        width: 18.5rem;
      }
    }
  }

  .profissionais__bg-blob-2 {
    bottom: -10rem;
    right: -10rem
  }

  header {
    text-align: center;

    .titulo {
      position: relative;
      display: inline;

      &::before {
        @include detailYellow(6rem)
      }
    }
  }

  .duvidas__container {
    display: flex;
    margin-top: 6rem;

    @include mediaQuery(s) {
      flex-direction: column;
      align-items: center;
    }
  }

  .duvidas__form {
    display: inline-block;
    width: 50%;
    margin-right: 3rem;

    .duvidas__campo-form {
      position: relative;
      margin-bottom: 2rem;

      label {
        position: absolute;
        top: -.7rem;
        left: .5rem;
        padding: 0 .6rem;
        background: $cor-1;
      }

      input,
      textarea {
        padding: .7rem 1rem;
        width: 100%;
        border: 1px solid $cor-4-tp;
        border-radius: .2rem;
        background: transparent;
        @include shadow((2px 2px 6px 0 $cor-4-shadow));

        &:focus {
          @include shadow((0 0 0 2px $cor-4));
        }

        &:hover {
          border: 1px solid $cor-4;

        }
      }
    }

    button {
      margin-top: -.5rem;
      display: block;
      margin-left: auto;
    }

    @include mediaQuery(s) {
      margin-right: 0;
      max-width: 450px;
      width: 100%;
    }
  }

  .duvidas__label {
    font-size: 0.8rem;
    font-weight: bold;
    height: 1rem;
  }

  address {
    @include mediaQuery(s) {
      text-align: center;
    }
  }

  .duvidas__campo-contato {
    .duvidas__label {
      margin-bottom: .5rem;
    }

    +div {
      margin-top: 2rem;
    }

    @include mediaQuery(s) {
      margin-top: 4rem;
    }
  }

  .duvidas__redes-sociais {
    display: flex;
    align-items: center;

    li+li {
      margin-left: .5rem;
    }

    a {
      width: 1.5rem
    }

    @include mediaQuery(s) {
      justify-content: center;

    }
  }
}