#especialidades {
  position: relative;

  .especialidades__bg-blob {
    position: absolute;
    right: -10rem;
    top: -10rem;
    z-index: -1;

    img {
      width: 20rem;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mediaQuery(s) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .especialidades__header {
    margin-right: 2rem;

    @include mediaQuery(xm) {
      margin-right: 0;
      margin-bottom: 3rem;
    }
  }

  .especialidades__titulo {
    position: relative;

    &::before {
      @include detailYellow(6rem)
    }
  }

  .especialidades__lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
    z-index: 99;

    @include mediaQuery(xm) {
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
    }

    @include mediaQuery(s) {
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    li a {
      transition: .1s;
      padding: 1.2rem 2rem;
      border: 1px solid $cor-4-tp;
      border-radius: .2rem;
      width: 100%;
      text-align: center;
      @include shadow((2px 2px 6px 0 $cor-4-shadow));
      background: $cor-1;

      &:hover {
        transform: scale(1.15);
        background: $cor-2;
        @include shadow((2px 2px 12px 0 $cor-4-shadow));

        @include mediaQuery(s) {
          transform: scale(1.05);
        }
      }
    }
  }
}