#exames {
  background: $cor-3;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mediaQuery(s) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .exames__header {
    text-align: right;
    margin-left: 2rem;

    @include mediaQuery(s) {
      order: -1;
      margin-left: 0;
      margin-bottom: 3rem;
    }
  }

  .exames__lista {
    order: -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;

    @include mediaQuery(xm) {
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
    }

    @include mediaQuery(s) {
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    li a {
      padding: 1.5rem 2rem;
      border-radius: .2rem;
      width: 100%;
      text-align: center;
      background: $cor-4;
      color: $cor-2;
      @include shadow((2px 2px 6px 0 $cor-4-tp));
      transition: .1s;

      &:hover {
        transform: scale(1.15);
        @include shadow((2px 2px 10px 0 black));

        @include mediaQuery(s) {
          transform: scale(1.05);
        }
      }
    }
  }

  .exames__enfeite {
    position: absolute;
    top: -9rem;
    left: -9rem;

    img {
      transform: rotate(90deg);
      width: 18rem;
      height: 18rem;
    }
  }
}