footer {
  margin-left: 4rem;
  background: $cor-4;
  color: $cor-2;
  padding: 2rem 0;
  font-size: .9rem;

  @include mediaQuery(l) {
    margin-left: 0;
  }

  .footer__infos {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 2rem;
    justify-items: center;

    @include mediaQuery(m) {
      grid-template-columns: auto;
      text-align: center;
    }
  }

  .footer__titulos {
    font-weight: 600;
    margin-bottom: .5rem;
  }

  .footer__menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem 2rem;

    @include mediaQuery(m) {
      grid-template-columns: auto;
    }
  }

  .footer__address-item+.footer__address-item {
    margin-top: 2rem;
  }

  .footer__vet {
    text-align: right;

    .titulo {
      margin-bottom: 1rem;
      display: block;
      font-weight: 600;
      line-height: 2.25rem;
    }

    @include mediaQuery(m) {
      text-align: center;
    }
  }

  .footer__made-by {
    padding-top: 3rem;
    font-weight: 600;
    text-align: center;
    display: block;

    @include mediaQuery(m) {
      padding-top: 4rem;

    }
  }

  .footer__redes-sociais {
    display: flex;
    align-items: center;

    li+li {
      margin-left: .5rem;
    }

    a {
      width: 1.5rem
    }

    @include mediaQuery(m) {
      justify-content: center;
    }
  }
}