#sobre {
  background: $cor-3;
  color: $cor-4;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mediaQuery(m) {
      flex-direction: column;
    }
  }

  .sobre__txts p {
    margin-top: 1rem;
    max-width: 20rem;
    line-height: 150%;
  }

  .sobre__img {
    position: relative;
    flex: 1;
    background: url(../assets/blob-3.svg), url(../assets/blob-3.svg);
    background-repeat: no-repeat;
    background-position: center, 6% 20%;
    background-size: 20rem, 4rem;

    @include mediaQuery(m) {
      max-width: 400px;
      background: url(../assets/blob-2.svg) no-repeat center;
      background-size: 100%;
    }

    img {
      height: 28rem;
      width: auto;
      margin: -5.5rem auto 0 auto;

      @include mediaQuery(m) {
        height: initial;
        width: 100%;
      }
    }
  }
}