.principal {
    padding: 90px 15px 0 15px;
    max-width: 1150px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}

.horario {
    color: #42403799;
}

.aberto::after {
    content:"";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display:inline-block;
    margin-left: 10px;
}

.aberto.fechado:after {
    background-color: #d6683d;
}

.aberto.open:after {
    background-color: #3dd678;
}

.aberto {
    display:block;
    margin-bottom: 15px;
}

.funcionamento {
    margin-bottom: 15px;
}

h1 {
    font-size: 2.25rem;
    font-weight: 900;
    width: 320px;
    margin-bottom: 70px;
}

.info-principal {
    margin-right: 20px;
}

.principal .btn-amarelo {
    margin-bottom: 10px;
}

.principal .btn-padrao {
    outline:10px solid #F4F0DC
}

.principal .btn-amarelo::before {
    @include listra;
    background-color: #E4DEBA;
    right: 100%;
}
.principal .btn-amarelo::after {
    @include listra;
    background-color: #E4DEBA;
    left: 100%;
}

.principal .btn-verde::before {
    @include listra;
    background-color: #CADFC5;
    right: 100%;
}
.principal .btn-verde::after {
    @include listra;
    background-color: #CADFC5;
    left: 100%;
}

.principal .img {
    max-width: 700px;
    border-radius:60% 40% 55% 45% / 40% 64% 36% 60% ;
    outline: 10px solid #F4F0DC;
    overflow: hidden;
    img {
        width:100%;
        height:100%;
        object-fit: cover;
    }
}

@media all and (max-width: 840px) {
    .principal .img {
        height: 300px;
        align-self: center;
    }
}


@media all and (max-width: 760px) {
    .principal .img {
        width: 400px;
    }
    .info-principal {
        margin-right: 0px;
        margin-top: 50px;
        text-align: center;
    }
    .principal {
        flex-direction: column-reverse;
    }
    h1 {
        text-align: center;
        margin: 70px auto;
    }
    .principal .btn-padrao {
        margin: 10px auto
    }
}

