.sobre {
    position: relative;
    .container {
        display:flex
    }
    .col-2-sobre {
        margin-left: 20px;
        font-size: 1.125rem;
        text-align: right;
        p {
            max-width: 450px;
        }
        p + p {
            margin-top: 20px;
        }
    }

}

.img-sobre {
   width: 400px;
   border-radius:61% 39% 70% 30% / 22% 68% 32% 78%;
   overflow:hidden;
    img {
        width:100%;
        height:100%;
        object-fit: cover;
    }
}

@media all and (max-width: 760px) {
    .sobre .container {
        flex-direction: column;
    }

    .col-2-sobre {
        margin-left: 0;
        p {
            text-align: left;
            max-width: 100% !important
        }
        h2 {
            margin-top: 30px;
        }
    }

    .img-sobre {
        width: initial;
        max-width: 360px;
        margin: 0 auto;
     }
}

